/* line 1 */
#about-profile-pic {
  zoom: 25%;
}

/* line 4 */
.project {
  display: inline-block;
}
/* line 7 */
.project h3 {
  text-align: center;
}
/* line 10 */
.project .img-box {
  width: 250px;
  height: 120px;
}
/* line 14 */
.project .img-box img {
  max-width: 100%;
  max-height: 100%;
}
