#about-profile-pic
	zoom: 25%

#portfolio
	a
		text-decoration: none

	.project

		display: inline-block
		h3
			text-align: center

		.img-box
			width: 250px
			height: 120px

			img
				max-width: 100%
				max-height: 100%
				display: block
				margin: auto
