{% extends 'base.html' %}

{% block title %}CKLabs{% endblock%}

{% block extra_styles %}
	{% assets "cklabs" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock  %}

{% block extra_scripts %}
    <script src="static/js/cklabs/main.js"></script>
{% endblock %}

{% block content %}
	<div class="main-wrapper">
		<h3>Calvin's Experimental Site</h3>
		<div class="challenge-box">
			<form>
				<label for="Enter_Your_Name">Enter Your Name: </label> <input type="text" name="Enter_Your_Name" id="Enter_Your_Name">
			</form>
			
			<button style="display:none;"></button>
			<!--<div class="small-box"></div>-->
		</div>
		
	</div>
{% endblock %}

