{% extends 'base.html' %}

{% block title %}Calvin Collins{% endblock%}

{% block extra_scripts %}
    <script src="static/js/home/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block extra_styles %}
	{% assets "home" %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/jQCloud.css"></script>
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock  %}

{% block nav %}
	{% include "nav.html" %}
{% endblock  %}

{% block content %}

<div id="content">
	<div id="about">
		<a name="about" ><h2>About Me</h2></a>
		<img id="about-profile-pic" src="static/img/profile.png" alt="profile"/>
		<p>Hi, My name is Calvin! I do web dev stuff with Python and Javascript
		</p>
	</div>
	<div id="services">
		<a name="skills"><h2>Skills</h2></a>
		<div id="skills"></div>
	</div>
	<div id="portfolio">
		<a name="portfolio"><h2>Portfolio</h2></a>
		<div id="portfolio-list">
			{% for project in projects %}
				<a href="{{ project.link }}" target="_blank">
					<div class="project">
						<h3>{{ project.name }}</h3>
						<div class="img-box">
							<img src="{{ project.image }}" alt="minesweeper"/>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
	<div id="contact">
		<a name="contact"><h2>Contact</h2></a>
		<form>
			<div class="form-group text-xs-center">
				<input class="form-control" type="text" placeholder="Name" name="name">
				<input class="form-control m-t-1" type="email" placeholder="Email" name="email">
				<textarea class="form-control m-t-1" name="message" rows="8" cols="40" placeholder="Message"></textarea>
				
				<input class="btn btn-primary m-t-2" type="submit" value="Submit">
				
			</div>
		</form>
	</div>
</div>
	

{% endblock %}
