{% extends 'base.html' %}

{% block title %}Calvin Collins{% endblock%}

{% block extra_styles %}
	{% assets "home" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock  %}

{% block nav %}
	{% include "nav.html" %}
{% endblock  %}

{% block content %}

<div id="about">
	<a name="about" ><h2>About Me</h2></a>
	<img id="about-profile-pic" src="static/img/profile.png" alt="profile"/>
	<p> Hi, my name is Calvin Collins. I am a software developer by trade, currently
		working as a full stack python web developer for Surveymonkey. I just freakin
		love developing cool stuff. If your interested, let me know if you could use 
		some of my services. Check out a bunch of my skills listed below and feel free
		to contact me about anything at all!
	</p>
</div>
<div id="services">
	<a name="services"><h2>Services</h2></a>
	<p>I offer full stack software development services. My main areas of expertise are MYSQL, Python, HTML, Javascript, CSS</p>
</div>
<div id="portfolio">
	<a name="portfolio"><h2>Portfolio</h2></a>
</div>
<div id="contact">
	<a name="contact"><h2>Contact</h2></a>
</div>
	

{% endblock %}
