<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Calvin Collins</title>

    <!-- Custom CSS -->
	{% assets "main" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
	{% endassets %}

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

	<div class="main-wrapper">
		<h3>Calvin's Experimental Site</h3>
		<div class="challenge-box">
			<form>
				<label for="Enter_Your_Name">Enter Your Name: </label> <input type="text" name="Enter_Your_Name" id="Enter_Your_Name">
			</form>
			
			<h6></h6>
			<!--<div class="small-box"></div>-->
		</div>
		
	</div>


    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/main.js"></script>

</body>

</html>
